#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 돌아가기

	br
	br

	span Clover 소유자를 기록보관소에 기록하시겠습니까?

	br
	br

	span 이 Clover를 보관하겠습니다.

	br
	br

	button.closeDisableOwner(style="float:left;") 아니요
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner 네