#homePanel.panel
	div
		//- #tips
		//- 	span Tips: Simply 
		//- 	strong drag 
		//- 	span and 
		//- 	strong drop 
		//- 	span a marble from one user to another

		#ownerWrap
			div#toolbarWrap
				

				//- button(disabled="disabled")#showStartupPanel
				//- 	span.fa.fa-gears
				//- 	span &nbsp; 시작 도움말
					
				//- span &nbsp;&nbsp;

				
				
				#trashbin.sortable.innerMarbleWrap
					div.fa.fa-trash-o.fa-3x(style="vertical-align: middle;")
					span &nbsp;
					div#trashText Clover를 끌어서 옮겨 넣기
			


		#allUserPanelsWrap
			#appStartingText 연결중...
